<div class="c-card c-card--highest chatWindow">
    <div class="c-card__item c-card__item--brand">Live Chat</div>
    <div #chatwindow (click)="scrollToBottom()" class="chatwindow-wrapper">
        <div *ngFor="let message of messages" class="message-item" title="{{message.date |  date: 'H:m:s'}}"><b>@{{message.sender}}</b> {{message.message}}</div>
    </div>
</div>

<input type="text" name="message" id="message"  (keyup.enter)="sendMessage($event)" placeholder="Say something..." class="c-field message-box" />
