<div class="o-container o-container--small">

    <div class="u-center-block" style="height: 20px;">
    </div>


    <div class="o-grid">
        <div class="o-grid__cell o-grid__cell--width-10">
            <div class="c-avatar c-avatar u-small u-highest">
                 <img class="c-avatar__img" src="assets/images/cf-icon.png">
            </div>
        </div>
        <div class="o-grid__cell o-grid__cell--width-90">
            <div class="u-center-block app-title">
                <div class="u-center-block__content u-center-block__content--vertical"><b>Top App For Codefiction</b></div>
            </div>
        </div>
    </div>

	<ul class="c-card c-card--highest u-high">
        <div class="c-card__item c-card__item--divider">#{{currentTopper.room}}</div>
        <li *ngFor="let topper of topperList.getList()"  [style.background-color]="topper.color" class="c-card__item topper"><h3 >{{topper.name === currentTopper.name ? '@'+topper.name : topper.name }}</h3></li>
	</ul>

    <button (click)="onTopMe()" class="c-button c-button--rounded c-button--ghost-error c-button--block u-super u-highest">Speak up! <i class="fa fa-bullhorn" aria-hidden="true"></i>
    </button>


</div>
<router-outlet></router-outlet>
